{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Adatvédelmi tájékoztató" %} | yeleave{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-6">{% trans "Adatvédelmi tájékoztató" %}</h1>
    <div class="prose text-gray-700">
        <p><em>{% trans "(Jogi tartalom helye. Itt kell leírni, hogy milyen adatokat gyűjt a rendszer, mire használja, és milyen jogai vannak a felhasználóknak.)" %}</em></p>
        <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula." %}</p>
    </div>
</div>
{% endblock content %}