{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Adatvédelmi tájékoztató" %} | yeleave{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto py-8">
    <div class="mb-8">
        <h2 class="text-xl font-bold text-gray-900">{% trans "Adatvédelmi tájékoztató" %}</h2>
    </div>
    <div class="prose text-gray-700">
        <p><em>{% trans "(Jogi tartalom helye. Itt kell leírni, hogy milyen adatokat gyűjt a rendszer, mire használja, és milyen jogai vannak a felhasználóknak.)" %}</em></p>
        <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula." %}</p>
    </div>
</div>
{% endblock content %}