{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Felhasználási feltételek" %} | yeleave{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-6">{% trans "Felhasználási feltételek (ÁSZF)" %}</h1>
    <div class="prose text-gray-700">
        <p><em>{% trans "(Jogi tartalom helye. Itt kell részletezni a szolgáltatás használatának szabályait.)" %}</em></p>
        <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel mattis nisi, a rhoncus lacus. Vestibulum tristique sapien ex, et malesuada nunc facilisis sed." %}</p>
    </div>
</div>
{% endblock content %}